doctype html
html
    head
        title Chat application
        link(rel='stylesheet', type='text/css', href='style.css')
    body(data-ws-ip=wsLocation)
        ul#messages
        form(action='')#submitForm
            input#textInput(autocomplete='off')
            button Send
        script.
            window.wsLocation='#{wsLocation}';
        script(src='js/script.js')
