doctype html
html
    head
        title Chat application
        link(rel='stylesheet', type='text/css', href='style.css')
    body
        ul#messages
        form(action='')
            input#m(autocomplete='off')
            button Send
        script(src='bower_components/jquery/dist/jquery.min.js')
        script.
            window.wsLocation='#{wsLocation}';
        script(src='js/script.js')
