<!DOCTYPE html>
<html>
<head><title>Chat application</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>window.wsLocation = '<%= wsLocation%>';</script>
</head>
<body data-ws-ip="localhost">
<ul id="messages"></ul>
<form action="" id="submitForm"><input id="textInput" autocomplete="off">
    <button>Send</button>
</form>
<script src="js/script.js"></script>
</body>
</html>